@import "grid.css";

header {
	background: black;
	color: white;

	.mm-nav__logo {
		text-align: start;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-around;
		width: 100%;

		li {
			padding: 8px 18px;
			cursor: pointer;
			&:last-child {
				background-color: red;
				border-radius: 23px;
			}
		}
	}
}

.left{
	float: right;
}
