@mixin slick-arrow {
  //   width: 74px;
  //   height: 74px;
  width: 54px;
  height: 54px;
  position: absolute;
  z-index: 9;
  border-radius: 50px;
  border: 0;
  background: red;
  font-size: 0;
  color: white;
  top: 60%;
  outline: none;

  @media (min-width: $screen-lg-min) {
    top: 50%;
  }
}
