@import "mixin/title";
@import "mixin/subtitle";

.mm-title {
  text-align: center;
  margin-top: 50px;

  h1 {
    @include title();
    margin-bottom: 0 !important;
  }

  p {
    @include subtitle();
  }
}
