@import "mixin/title";

.mm-brand {
	@media (min-width: $screen-lg-min) {
		margin-top: 150px;
  }
  
	h1 {
		@include title();
		margin-bottom: 0px !important;
		margin-top: 69px;
	}
	p {
		@include subtitle();
	}
}
